@media screen and (min-width: 320px) and (max-width: 767px) {
    
    .header__link-site{
        display: none;

    }


    .header__left{
        padding-left: 16px;
    }

    .header__right{
        padding-right: 16px;
    }

    .promo{
        min-height: 365px;
        align-items: center;
    }

    .promo__info{
        margin: auto;

    }

    .promo__img{
        display: none;
    }

    .promo__content {
        margin: auto;
        padding: 0px;
    }
    
    .promo__title{
        font-size: 38px;
        line-height: 46px;
    }

    .promo__heading{
        font-size: 20px;
        line-height: 24px;
    }

    .sale{
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 64px 16px 64px 16px;
        gap: 32px;
        max-width: 360px;
    }


    .sale__item_big {
        min-height: 111px;
        overflow: hidden;
    }

    .sale__item_big img{
        transform: scale(2);
        transform-origin: 50% 0%;
    }


    .product-box {
        padding-bottom: 70px;
    }

    .product-box__content {
        margin-top: 73px;
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .product {
        max-width: 360px;
    }

    .product-box__button-all{
        margin-top: 33px;
    }

    .subscribe{
        height: 550px;
        background-image: url('img/subscribe_tablet.jpg');
        background-position: center;
       
      }

    .subscribe__opacity{
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
       

    }

    .subscribe__info img{
        max-width: 92px;
        height: auto;
        padding-bottom: 30px;
      }

    .subscribe__info p{
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
      }
      .subscribe__info{
        padding-top: 64px;
        
      }
    .subscribe__email{
        padding-right: 0px;
        padding-bottom: 110px;
    }

    

    .subscribe__email h1{
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 37px;
      }
      
      .subscribe__email h2{
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
      }
    
    .footer{
        max-height: 145px;
        background-color: #222224;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        padding-bottom: 10px;
        padding-top: 43px;
        gap: 40px;
    }
  
    .footer__brand{
        color: #FBFBFB;
        margin-left: 5px;
    }
    .footer__social{
        display: flex;
        gap: 7px
    }
}